.App {
  width: 100vw;
  height: 100vh;
  background: #414141;
  display: grid;
  grid-template-rows: 100px auto;
  align-items: center;
  justify-content: center;
}

.GameHeader {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.GameHeader h1 {
  margin: 0;
  padding: 0;
}

.GameResetButton {
  width: 140px;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #51515100;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.GameResetButton:hover {
  background: #515151;
  transition: linear .2s;
}

.Gameboard {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
}
